#container {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(54, 54, 54);
}
.secoes {
  margin-left: 80px;
  color: rgb(187, 188, 188);
  text-decoration: none;
}
#s1:hover {
  color: rgb(231, 230, 230);
}
#s2:hover {
  color: rgb(231, 230, 230);
}
#s3:hover {
  color: rgb(231, 230, 230);
}
#s4:hover {
  color: rgb(231, 230, 230);
}

#secao1 {
  margin-top: 40px;
  margin-right: 10px;
  width: 90%;
  height: 500px;
  background-color: gray;
  box-shadow: 1rem 1rem 0 black;
  display: flex;
  flex-direction: row;
  /*box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
*/
  }

  #secao2 {
    margin-top: 100px;
    margin-right: 10px;
    width: 85%;
    height: 500px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 12px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  } 
  #secao3 {
    margin-top: 60px;
    margin-right: 10px;
    width: 85%;
    height: 500px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 12px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  } 
  #secao4 {
    margin-top: 60px;
    margin-right: 10px;
    width: 70%;
    height: 500px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 12px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  } 

  #link {
    margin-left:10px;
    color: rgb(258,258,258);
    text-decoration: none;
  }
  #link:hover {
    color: rgb(76, 76, 252);
  }